<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title>Angular Gallery</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
  <meta name="description" content="Angular Gallery" />
  <meta name="keywords" content="AngularJS, RESTful, API" />
  <meta name="author" content="Jose DeLavalle" />

  <!-- Bring in Bootstrap css so things look nice by default -->
  <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="node_modules/font-awesome/css/font-awesome.css" />
  <link rel="stylesheet" href="assets/css/main.css" />

</head>
<body ng-app="ngGallery" ng-controller="galleryController">


	<div id="wrapper">


		<!-- Header -->
		<header id="header">
			<div class="field">
				<input ng-model="searchTerm" ng-click="searchTerm=''" id="inputBox" type="text" name="name" id="name" placeholder="Enter Place or Thing" />
				<!-- <input ng-click="go('person')" id="personButton" class="webOnly" type="submit" value="Person" />
				<input ng-click="go('place')" id="placeButton" class="webOnly" type="submit" value="Place" />
				<input ng-click="go('thing')" id="thingButton" class="webOnly" type="submit" value="Thing" /> -->
				<!-- <input ng-click="go('thing')" id="peekButton" class="mobileOnly" type="submit" value="Peek"> -->
				<input ng-if="page_num==1" ng-click="go()" id="moreButton" class="special" type="button" value="Peek">
				<input ng-if="page_num!=1" ng-click="go()" id="moreButton" class="special" type="button" value="More">
					<a href="#footer">
						<input id="mapButton" class="special" type="button" value="Map">
					</a>
				
				<input ng-click="clear()" id="moreButton" class="webOnly" type="button" value="Clear">
			</div>

			<nav class="webOnly">
				<ul>
					<li><a href="#footer" class="icon fa-info-circle">About</a></li>
				</ul>
			</nav>
		</header>

		<div id="main">
			<div ng-show="searching && page_num==1">
				<h1>Searching...</h1>
			</div>
			<article id="imgGallery" class="thumb" ng-repeat="thumb in thumbs" ng-cloak>
				<a class="image" style="background-image:url('{{thumb.url_m}}'); outline: 0px;">
				</a>

				<span ng-click="openModal($index)" class="caption full-caption">
					<div class="screenshot-caption screenshot-caption_bottom">
						<div class="imagelink"><h1>{{ thumb.title || 'No Title Provided'}}</h1></div>
				    	<p>{{ thumb.description._content || 'No Description Provided'}}</p>
				  	</div>
				</span>
			</article>
		</div>

		<footer id="footer" class="panel">
			<div class="inner split">
			<div>
			
				<h2 class="mobileOnly">Take a peek anywhere in the world</h2>
				<section id="mapContainer">
					<div id="map" map-lazy-load="https://maps.google.com/maps/api/js">
					  <ng-map center="{{userLocation.lat}}, {{userLocation.lon}}" zoom="8">
					  	<marker centered="true" draggable=true position="{{userLocation.lat}},{{userLocation.lon}}" on-dragend="getCurrentLocation()"></marker>
					  </ng-map>
					</div>
					<!-- <h2>Get in touch</h2>
					<form id="contact_form">
						<div id="contact_results"></div>
						<div class="field half first">
							<input type="text" name="name" id="name" placeholder="Name" required="true"/>
						</div>
						<div class="field half">
							<input type="text" name="email" id="email" placeholder="Email" required="true" />
						</div>
						<div class="field">
							<textarea name="message" id="message" rows="4" placeholder="Message" required="true"></textarea>
						</div>
						<ul class="actions">
							<li><input type="button" id="submit_btn" value="Send" class="special" /></li>
							<li><input id="reset_btn" type="reset" value="Reset" /></li>
						</ul>
					</form> -->
				</section>
				</div>
				<div>
					<div class="col-xs-12 mobileOnly padding-0">
						<button ng-click="go()" class="searchButton special full-width" type="button">
							Search {{userLocation.address}}
						</button>
					</div>
					<section class="webOnly">
						
							<p class="appdescription">This AngularJS web app makes HTTP request to query Google's API for the latitude and longitude of a user's entered location.  Coordinates are then passed to Flickr's API to retrieve photos from desired location. Alternative searches filter by a photo's tags and text.</p>
					</section>
					<section>
					<div class="col-xs-6 webOnly">
						<button ng-click="go()" class="searchButton special" type="button">
							Search {{userLocation.address}}
						</button>
					</div>
					<div class="col-xs-6 padding-0">
						<h2>Follow me on ...</h2>
						<ul class="icons">
							<!--
							<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
							<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li> -->
							<li><a href="https://github.com/josedelavalle/angularGallery" class="icon fa-github"><span class="label">GitHub</span></a></li>
           				   <li><a href="http://twitter.com/slickwebstudio" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
							<!-- <li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li> -->
							<li><a href="https://www.linkedin.com/in/jose-delavalle-49aa7411a" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
							<li><a href="http://www.indeed.com/r/Jose-DeLavalle/a640d41721993815" class="icon fa-user"><span class="label">Indeed</span></a></li>
							<li><a href="mailto:me@slickwebstudio.com" class="icon fa-envelope"><span class="label">Mail</span></a></li>
						</ul>
					</div>
					<div class="col-xs-6 mobileOnly">
						<button ng-click="clear()" class="searchButton full-width" type="button">
							Clear Images
						</button>
					</div>
						
					</section>
					<div class="col-xs-12">
					<p class="copyright">
						<a class="icon" href="http://josedelavalle.com">Jose DeLavalle</a>&nbsp;&nbsp;&nbsp;<a href="http://slickwebstudio.com" class="icon fa-globe">&nbsp;Slick Web Studio</a>
					</p>
					</div>
				</div>
				
			</div>
		</footer>

	</div>


	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/jquery.poptrox.min.js"></script>
	<script src="assets/js/skel.min.js"></script>

	<script src="node_modules/angular/angular.min.js"></script>
	<script src="node_modules/angular-animate/angular-animate.min.js"></script>
	<script src="node_modules/angular-touch/angular-touch.min.js"></script>

	<script src="node_modules/angular-ui-bootstrap/dist/ui-bootstrap.js"></script>
	<script src="node_modules/angular-ui-bootstrap/dist/ui-bootstrap-tpls.js"></script>
	<script src="assets/js/ng-map.min.js"></script>
	<script src="http://maps.google.com/maps/api/js?key=AIzaSyAFzBg6EWivP2e2GR0DmXdosJKqJylV9AQ"></script>
	<script src="assets/js/galleryController.js"></script>
	
	

	
	<script src="assets/js/util.js"></script>
	<script src="assets/js/main.js"></script>
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-88570521-1', 'auto');
	  ga('send', 'pageview');

	</script>


	
</body>
</html>
